#table{
    border: 5px solid blue;
    width : 400px;
    height: 400px;
    
    }

.td{
    border-style:solid;
    border-color:red;
    font-size: 40px;
    text-align: center;
    height: 80px;
    width: 80px;
    
    
}

h2{
    color: green;
    text-align: center;
    font-size: 40px;
}

#reset{
    position:fixed;
    top:380px;
    left:200px;
    font-size:15px;
}
#s{
    position:fixed;
    top:300px;
    left:200px;
    border-style:solid;
    border-color:black;
    width: 60px;
    text-align: center;
    font-weight: bold;
}
#alert{
    border-style:solid;
    border-color:black;
    text-align: center;
    height: 40px;
    width: 400px;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 30px;
}